@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.App{
  background-color: #EFEBE0;
}

.navbar {
  background-color: #4C5270;
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
  font-size: 25px;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.todos-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border: 1px solid #033765c4;
}
.todos-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  background-color: #EFE7D3;
}
.todos-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.todo-list{
  border: 1px solid black;
}
